<button
  class="relative h-[50px] aspect-square rounded-full overflow-hidden"
  onClick="{onClick}"
>
  <img
    height="100%"
    width="100%"
    class="
      shrink-0 hover:scale-110 transition-all duration-500
      {% if direction == 'right' %} rotate-180 {% endif %}
       {{ navigation }}
    "
    alt=">"
    src="{{ 'icon-arrow-left.svg' | asset_url }}"
    aria-label="{% if direction == 'left' %} 'Previous' {% else %} 'Next' {% endif %}"
    fill
  >
</button>
